@page "/files"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h3>UserFiles</h3>

        @foreach(var file in _files)
        {
            <p>@file.Filename</p>
            <button class="btn btn-danger" @onclick="(() => DeleteFile(file))">Delete</button>
        }
    </Authorized>
    <NotAuthorized>
        Please login!
    </NotAuthorized>
</AuthorizeView>